@page
@model Net.Pf.Pages.Bootstrap.Text.iconsModel
@{
}
<div class="">

    <a asp-page="ForumCreate" target="_blank">
        <i class="bi bi-file-plus fa-2x text-primary"></i>
    </a>
    <a asp-page="ForumCreate" target="_blank">
        <i class="bi bi-file-plus-fill fa-2x text-primary"></i>
    </a>
    <a asp-page="ForumCreate" target="_blank">
        <i class="bi bi-file-plus-fill fa-2x text-secondary"></i>
    </a>
    <a asp-page="ForumCreate" target="_blank">
        <i class="bi bi-file-plus-fill fa-2x text-success"></i>
    </a>
    <a asp-page="ForumCreate" target="_blank">
        <i class="bi bi-file-plus-fill fa-2x text-danger"></i>
    </a>
    <a asp-page="ForumCreate" target="_blank">
        <i class="bi bi-file-plus-fill fa-2x text-warning"></i>
    </a>
    <a asp-page="ForumCreate" target="_blank">
        <i class="bi bi-file-plus-fill fa-2x text-info"></i>
    </a>

    <a asp-page="ForumCreate" target="_blank">
        <i class="bi bi-file-excel-fill fa-2x"></i>
    </a>


    <a asp-page="ForumCreate" target="_blank">
        <i class="bi bi-github fa-2x text-danger"></i>
    </a>
    <i class="bi bi-git fa-2x text-danger"></i>


    <i class="bi bi-house fa-2x text-info"></i>
    <i class="bi bi-house-add fa-2x text-info"></i>
    <i class="bi bi-house-add-fill fa-2x text-info"></i>
    <i class="bi bi-house-check fa-2x text-info"></i>
    <i class="bi bi-house-check-fill fa-2x text-info"></i>
    <i class="bi bi-house-door fa-2x text-info"></i>
    <i class="bi bi-house-door-fill fa-2x text-info"></i>
    <i class="bi bi-justify fa-2x text-info"></i>
    <i class="bi bi-plus-square fa-2x text-info"></i>
    <i class="bi bi-plus-square-fill fa-2x text-info"></i>

    <i class="bi bi-pen fa-2x text-info"></i>
    <i class="bi bi-pen-fill fa-2x text-info"></i>
    <i class="bi bi-pencil fa-2x text-info"></i>
    <i class="bi bi-pencil-fill fa-2x text-info"></i>
    <i class="bi bi-pencil-square fa-2x text-info"></i>













</div>