@page
@model Net.Pf.Pages.Forums.PostsModel
@{
}



<div class="container">

	@for (int i = 0; i < 10; i++)
	{

		<table class="table table-borderless table-responsive card-1 p-4">
			<thead>
				<tr class="border-bottom">
					<th>
						<small class="row">2023-02-28 12:41:23</small>
					</th>

				</tr>
			</thead>



			<tbody>
				<tr class="border-bottom">

					<td>
						<div class="p-2 d-flex flex-row align-items-center mb-2">
							<img src="https://i.imgur.com/ZSkeqnd.jpg" width="40" class="rounded-circle">

							<div class="d-flex flex-column ml-2">
								<span class="d-block font-weight-bold">Jennifer john</span>
								<small class="text-muted">Jasmine Owner Reality group</small>
							</div>

						</div>

					</td>

					<td>
						<div class="p-2">
							<small>
								Talk about sports, entertainment, music, movies, your favorite color, talk about enything.
								Talk about sports, entertainment, music, movies, your favorite color, talk about enything.
								Talk about sports, entertainment, music, movies, your favorite color, talk about enything.
								Talk about sports, entertainment, music, movies, your favorite color, talk about enything.
								Talk about sports, entertainment, music, movies, your favorite color, talk about enything.
							</small>
						</div>
					</td>

					<td>
						<div class="p-2 icons">
							<i class="bi bi-pencil-square fa-1x text-muted text-secondary"></i>
							<i class="bi bi-file-excel fa-1x text-muted text-secondary"></i>
						</div>
					</td>
				</tr>

			</tbody>
		</table>


	}


	<div class="container">

		<div class="row text-center">
			<h3>Answer</h3>
		</div>

		<form class="form-group" method="post" asp-antiforgery="true">

			<input type="text" asp-for="createPostCommand.TopicId" value="@(Model?.createPostCommand?.TopicId ?? Model?.TopicId)" hidden>

			<div class="form-group m-2">
				<label asp-for="createPostCommand.Text">Answer</label>
				<span asp-validation-for="createPostCommand.Text" class="text-danger"></span>

				<textarea class="form-control" rows="5" asp-for="createPostCommand.Text">
					@(Model?.createPostCommand?.Text ?? "")
			</textarea>
			</div>

			<div class="form-group m-2">
				<input type="submit" value="Отправить ответ" />
			</div>

		</form>

	</div>


</div>















