@page
@model Net.Pf.Pages.Forums.CreateTopicModel
@{
}

<div class="container">

	<div class="row  ms-3 me-3">
		<div class="col">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a asp-page="/Forum/Index">Home</a></li>
					<li class="breadcrumb-item"><a asp-page="/Forum/ForumTopics" asp-route-ForumForkId="@Model?.ForumId">Topics</a></li>
					<li class="breadcrumb-item active">Create</li>
				</ol>
			</nav>
		</div>
	</div>



	<form class="form-group" method="post" asp-antiforgery="true">
		<div class="form-group m-2">
			<span asp-validation-for="command.ForumId" class="text-danger"></span>
			<input type="text" class="form-control"
				   asp-for="command.ForumId"
				   value="@(Model?.ForumId.ToString() ?? "")" hidden>
		</div>


		<div class="form-group m-2">
			<label asp-for="command.Name">Название</label>
			<span asp-validation-for="command.Name" class="text-danger"></span>
			<input type="text" class="form-control" asp-for="command.Name" value="@(Model?.command?.Name ?? "")">
		</div>
		<div class="form-group m-2">
			<label asp-for="command.ShortDescription">Короткое описание</label>
			<span asp-validation-for="command.ShortDescription" class="text-danger"></span>
			<input type="text" class="form-control" asp-for="command.ShortDescription" value="@(Model?.command?.ShortDescription ?? "")">
		</div>

		<div class="form-group m-2">
			<label asp-for="command.Description">Описание</label>
			<span asp-validation-for="command.Description" class="text-danger"></span>
			<input type="text" class="form-control" asp-for="command.Description" value="@(Model?.command?.Description ?? "")">
		</div>

		<div class="form-group m-2">
			<input type="submit" value="Создать" />
		</div>

	</form>

</div>