@page
@model Net.Pf.Pages.Bootstrap.ColorsModel
@{
}




<div class="container m-1 bg-red-25">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-red-50">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-red-75">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-red">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>




<div class="container m-1 bg-green-25">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-green-50">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-green-75">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-green">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>




<div class="container m-1 bg-blue-25">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-blue-50">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-blue-75">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-blue">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>



<div class="container m-1 bg-yellow-25">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-yellow-50">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-yellow-75">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-yellow">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>




<div class="container m-1 bg-magenta-25">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-magenta-50">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-magenta-75">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-magenta">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>




<div class="container m-1 bg-orange-25">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-orange-50">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-orange-75">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
<div class="container m-1 bg-orange">
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
















