.bg-red {
	background-color: rgba(255, 0, 0, 1) !important;
}
.bg-red-25 {
	background-color: rgba(255, 0, 0, 0.25) !important;
}

.bg-red-50 {
	background-color: rgba(255, 0, 0, 0.5) !important;
}
.bg-red-75 {
	background-color: rgba(255, 0, 0, 0.75) !important;
}





.bg-green {
	background-color: rgba(0, 255, 0, 1) !important;
}
.bg-green-25 {
	background-color: rgba(0, 255, 0, 0.25) !important;
}
.bg-green-50 {
	background-color: rgba(0, 255, 0, 0.50) !important;
}
.bg-green-75 {
	background-color: rgba(0, 255, 0, 0.75) !important;
}




.bg-blue {
	background-color: rgba(0, 0, 255, 1) !important;
}
.bg-blue-25 {
	background-color: rgba(0, 0, 255, 0.25) !important;
}
.bg-blue-50 {
	background-color: rgba(0, 0, 255, 0.50) !important;
}
.bg-blue-75 {
	background-color: rgba(0, 0, 255, 0.75) !important;
}



.bg-yellow {
	background-color: rgba(255, 255, 0, 1) !important;
}
.bg-yellow-25 {
	background-color: rgba(255, 255, 0, 0.25) !important;
}
.bg-yellow-50 {
	background-color: rgba(255, 255, 0, 0.50) !important;
}
.bg-yellow-75 {
	background-color: rgba(255, 255, 0, 0.75) !important;
}




.bg-cyan {
	background-color: rgba(0, 255, 255, 1) !important;
}
.bg-cyan-25 {
	background-color: rgba(0, 255, 255, 0.25) !important;
}
.bg-cyan-50 {
	background-color: rgba(0, 255, 255, 0.50) !important;
}
.bg-cyan-75 {
	background-color: rgba(0, 255, 255, 0.75) !important;
}




.bg-magenta {
	background-color: rgba(255, 0, 255, 1) !important;
}
.bg-magenta-25 {
	background-color: rgba(255, 0, 255, 0.25) !important;
}
.bg-magenta-50 {
	background-color: rgba(255, 0, 255, 0.50) !important;
}
.bg-magenta-75 {
	background-color: rgba(255, 0, 255, 0.75) !important;
}








.bg-orange {
	background-color: rgb(255, 106, 0, 1) !important;
}
.bg-orange-25 {
	background-color: rgb(255, 106, 0, 0.25) !important;
}
.bg-orange-50 {
	background-color: rgb(255, 106, 0, 0.50) !important;
}
.bg-orange-75 {
	background-color: rgb(255, 106, 0, 0.75) !important;
}































