@page
@model Net.Pf.Pages.AdminPanel.UserProfileModel
@{
			//@Model.UserModel.UserName
}

<div class="row">

	<div class="col col-6">
		<form class="form-group" method="post">

			<div class="form-group m-2">
				<input type="text" class="form-control" name="UserModel.UserId" id="UserModel.UserId" value=@Model.UserModel.UserId hidden>
			</div>

			<div class="form-group m-2">
				<label for="UserModel.UserName">UserName</label>
				<input type="text" class="form-control"
					   name="UserModel.UserName"
					   id="UserModel.UserName"
					   value=@Model.UserModel.UserName disabled>
				<span asp-validation-for="UserModel.UserName" class="text-danger"></span>
			</div>

			@foreach (var claim in @Model.UserModel.Claims)
			{
				<div class="alert alert-dark m-4" role="alert">@claim</div>
			}



		</form>
	</div>


	<div class="col col-6">
		@foreach (var claim in @Model.UserModel.Claims)
		{
			<div class="alert alert-dark m-4 row" role="alert">@claim

				<a class="dropdown-item col" asp-page="/AdminPanel/UserProfile" asp-route-UserId="" asp-route-role="">x</a>
			</div>
		}
	</div>


</div>














