@page
@model Net.Pf.Pages.Forum.IndexModel
@{
}


<div class="container m-2 p2">
    <table class="table border-0 border-bottom-0 table-borderless" style="line-height: 0.7">

        <thead class="table-primary" style="position: sticky;top: 0">
            <tr>
                <th scope="col">Раздел форума</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>



        <tbody style="max-height:30vh;">
            <tr>
                <th scope="row">Name 111111111111111111111111111111111111111111111111111111111</th>
                <td>Posts: 10</td>
                <td>Views: 300</td>
            </tr>
            <tr>
                <td>Decription 222222222222222222222222222222222222222222222222</td>
            </tr>
        </tbody>

    </table>

</div>


<div class="container m-2 p2">
    <table class="table table-borderless p-5 m-5" style="line-height: 0.7">

        <thead class="table-primary" style="position: sticky;top: 0">
            <tr>
                <th scope="col">Раздел форума</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>



        <tbody style="line-height: 0.5">
            <tr>
                <th class="m-1 p-3" scope="row">Name 111111111111111111111111111111111111111111111111111111111</th>
                <td>Posts: 10</td>
                <td>Views: 300</td>
            </tr>
            <tr>
                <td class="m-3 p-3">Decription 222222222222222222222222222222222222222222222222</td>
            </tr>
        </tbody>

        <tbody style="max-height:30vh;">
            <tr>
                <th scope="row">Name 111111111111111111111111111111111111111111111111111111111</th>
                <td>Posts: 10</td>
                <td>Views: 300</td>
            </tr>
            <tr>
                <td>Decription 222222222222222222222222222222222222222222222222</td>
            </tr>
        </tbody>


    </table>

</div>



<div class="container m-2 p2">
    <table class="table table-borderless p-5 m-5" style="line-height: 0.7">

        <thead class="table-primary" style="position: sticky;top: 0">
            <tr>
                <th scope="col">Раздел форума</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>



        <tbody style="line-height: 0.5">
            <tr>
                <th class="m-1 p-3" scope="row">Name 111111111111111111111111111111111111111111111111111111111</th>
                <td>Posts: 10</td>
                <td>Views: 300</td>
            </tr>
            <tr>
                <td class="m-3 p-3">Decription 222222222222222222222222222222222222222222222222</td>
            </tr>
        </tbody>

    </table>

</div>










