@page
@model Net.Pf.Pages.Forum.IndexModel


<div class="container">

    <div class="row  m-2">

        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
        </div>

        <div class="col col-sm-2 m-2">
            <a class="btn active btn-outline-success" asp-page="ForumForkCreate" target="_blank">Create Forum</a>
        </div>

    </div>



    @foreach (var fork in Model.forumForks)
    {
        <div class="p-1 mb-2 bg-light">
            <div class="m-1">
                <div class="row">
                    <a class="nav-link link-dark fw-bold font-monospace" asp-page="ForumTopics" asp-route-ForumForkId="@fork.ForumForkId" target="_blank">
                        <i class="bi bi-chat-right-text-fill m-1 me-2"></i>
                        @fork.Name</a>
                </div>
                <div class="ms-3  text-muted font-monospace">
                    <h7>@fork.Description</h7>
                </div>
            </div>
        </div>
    }


</div>




