@page
@model Net.Pf.Pages.Forum.IndexModel
@inject IForkManager forkManager

@{
	//forkManager.GetAll()

	//forkManager.Create("Name", "Decsription");

}
<div class="container">

    <div class="container m-2 p2">
        <table class="table border-0 border-bottom-0 table-borderless" style="line-height: 0.8">
            <thead class="table-primary" style="position: sticky;top: 0">
                <tr>
                    <th scope="col">Раздел форума 1</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody style="max-height:30vh; line-height: 0.3">
                @foreach (var fork in forkManager.GetAll())
                {
                    <tr>
                        <th scope="row">@fork.Name</th>
                        <td>Posts: 10</td>
                        <td>Views: 300</td>
                    </tr>
                    <tr>
                        <td>@fork.Description</td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>

