@page
@model Net.Pf.Pages.Forum.IndexModel
@{
}


<div class="container m-2 p2">
    <table class="table border-0 border-bottom-0 table-borderless" style="line-height: 0.7">

        <thead class="table-primary" style="position: sticky;top: 0">
            <tr>
                <th scope="col">Раздел форума</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>



        <tbody style="max-height:30vh;">
            <tr>
                <th scope="row">Name 111111111111111111111111111111111111111111111111111111111</th>
                <td>Posts: 10</td>
                <td>Views: 300</td>
            </tr>
            <tr>
                <td>Decription 222222222222222222222222222222222222222222222222</td>
            </tr>
        </tbody>

    </table>

</div>


<div class="container m-2 p2">
    <table class="table table-borderless p-5 m-5" style="line-height: 0.7">

        <thead class="table-primary" style="position: sticky;top: 0">
            <tr>
                <th scope="col">Раздел форума</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>



        <tbody style="line-height: 0.5">
            <tr>
                <th class="m-1 p-3" scope="row">Name 111111111111111111111111111111111111111111111111111111111</th>
                <td>Posts: 10</td>
                <td>Views: 300</td>
            </tr>
            <tr>
                <td class="m-3 p-3">Decription 222222222222222222222222222222222222222222222222</td>
            </tr>
        </tbody>

        <tbody style="max-height:30vh;">
            <tr>
                <th scope="row">Name 111111111111111111111111111111111111111111111111111111111</th>
                <td>Posts: 10</td>
                <td>Views: 300</td>
            </tr>
            <tr>
                <td>Decription 222222222222222222222222222222222222222222222222</td>
            </tr>
        </tbody>


    </table>

</div>



<div class="container m-2 p2">
    <table class="table table-borderless p-5 m-5" style="line-height: 0.7">

        <thead class="table-primary" style="position: sticky;top: 0">
            <tr>
                <th scope="col">Раздел форума</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>



        <tbody style="line-height: 0.5">
            <tr>
                <th class="m-1 p-3" scope="row">Name 111111111111111111111111111111111111111111111111111111111</th>
                <td>Posts: 10</td>
                <td>Views: 300</td>
            </tr>
            <tr>
                <td class="m-3 p-3">Decription 222222222222222222222222222222222222222222222222</td>
            </tr>
        </tbody>

    </table>

</div>






<div class="container">
    <div class="container bg-red-25 row row-cols-12">
        <div class="col-sm-8">
            Тема текст текст текс

        </div>

        <div class="col-sm-2 align-content-center bg-blue-25">
            обновлено 2023.02.02
        </div>

        <div class="col-sm-1 align-content-center bg-blue-25">
            Постов: 10
        </div>

        <div class="col-sm-1 align-content-center bg-blue-25">
            Ответ: 234
        </div>
    </div>
    <div class="container row row-cols-12">
        <div class="col-sm-12">
            Короткое описание / содержание
        </div>
    </div>



</div>



