@page
@using Net.Pf.Extensions;
@using Net.Pf.Pages.Forum;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
        <h3>Identifier: @Model.userAccessor.User.ClaimNameIdentifier()</h3>
        <h5>Name: @Model.userAccessor.User.ClaimName()</h5>
        <h5>Email: @Model.userAccessor.User.ClaimEmail()</h5>
</div>


